################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEuler/LargestProductInSeries/bin/Debug
/ProjectEuler/LargestProductInSeries/obj/Debug
/ProjectEuler/ProjectEuler/bin/Debug
/ProjectEuler/ProjectEuler/obj/Debug
/ProjectEuler/Helpers/obj/Debug
/ProjectEuler/Helpers/bin/Debug
/ProjectEuler/PythagoreanTriplet/obj/Debug
